body, html {
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

form.registrationForm {
    color: black;
    display: block;
}

div.formField {
    color: white;
    font-family: monospace;
    display: block;
    padding-top: 0.25rem;
}

button {
    text-align: center;
    cursor: pointer;
    font-family: monospace;
    margin-top: 1rem;
}

a {
    color: white;
    font-family: monospace;
}

.errorMessage {
    color: red;
    text-align: center;
    padding-top: 5px;
}

.blue-background {
  background-image: linear-gradient(to bottom right, #3D95BB, #6FBFBC);
}

.flex {
    display: flex;
}

.register-panel {
    margin: auto;
}

.register-panel > img {
    width: 25rem;
}

.text-align-center {
    text-align: center;
}

/* Fonts */
.white-font {
    color: white;
    font-family: monospace;
}

form.loginForm {
    color: black;
    display: block;
}

.login-panel {
    margin: auto;
}

.login-panel > img {
    width: 25rem;
}

.header {
    background-color: snow;
    opacity: 50%;
}

.container {
    text-align: center;
}

.search {
    padding-top: 15rem;
}

.advertisement-list {
    padding-top: 5rem;
}

.bid-list {
    padding-top: 5rem;
}

.welcome-message {
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

td > .btn {
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.table-sm {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}